* {
  /* `otf-font-awesome` is required to be installed for icons */
  /*Ignore GTK theme*/
  font-size: 16px;
  font-family:"Monofonto";
}

#workspaces,
#clock,
#custom-brightness,
#hyprland-workspaces,
#pulseaudio,
#cpu,
#memory,
#battery,
#power-profiles-daemon,
#tray,
#custom-power {
  border: 1px solid #ffffff;
  margin: 0 4px; 
  border-width: 1px 1px 1px 1px;
  padding: 0 10px;
  border-radius: 15px;
  background: grey;
}

window#waybar {
  all: initial;
  background-color: transparent;
  color: #ffffff;
  transition-property: background-color;
  transition-duration: .5s;
}

#workspaces button {
  color: #ffffff;
  background: transparent;
}

#workspaces button.empty {
}

#workspaces button.urgent {
  color: #ffffff;
  background: #e25252;
}

#workspaces button.critical {
  color: #ffffff;
  background: #c42121;
}

#workspaces button.visible {
  color: #ffffff;
  background: #999999;
}

